<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="dev.corruptedark.openchaoschess">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_icon"
        android:label="@string/app_name"
        android:theme="@style/AppTheme">
        <activity
            android:name=".PlaySelection"
            android:label="@string/title_activity_play_selection"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".StartClientActivity" />
        <activity android:name=".StartHostActivity" />
        <activity
            android:name=".AchievementDetailActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".AchievementsActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".MultiPlayerBoard"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".SinglePlayerBoard"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="unspecified" />
        <activity
            android:name=".MainActivity"
            android:screenOrientation="unspecified">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".SecretActivity"
            android:screenOrientation="unspecified"
            android:windowSoftInputMode="stateVisible|adjustResize" />
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="unspecified" />
    </application>

</manifest>